// Import mixin functions
@import '~src/sass/mixins'

div.app-page
  @include app-page()

  .mat-button
    background: #b0c8d2
    color: #113f52

  .mat-radio-group
    display: block
    margin: 20px 0

  .mat-radio-button
    display: block
    box-sizing: border-box
    padding: 5px 0
