\:host
  background: rgb(61, 94, 109)
  background: linear-gradient(180deg, rgba(61, 94, 109, 1) 0%, rgba(44, 71, 83, 1) 100%)
  min-height: 50px
  border-bottom: 1px solid #444
  box-sizing: border-box
  padding: 0 5px
  color: #fff
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)
  display: flex
  align-items: center
  font-family: "Roboto", sans-serif

  div.left-col
    flex-grow: 2
    display: flex
    align-items: center

    img
      max-height: 42px
      width: auto

    div
      box-sizing: border-box
      padding-top: 5px
      font-size: 24px
      margin-left: 10px
      cursor: default
      outline: none
      font-family: Limelight, sans-serif

  div.right-col
    flex-grow: 2
    justify-content: flex-end
    display: flex
    align-items: center
    font-size: 18px

    a
      margin: 0 20px
      text-decoration: none
      color: #fff

      &:hover
        color: #ff0

    a.nav-active
      color: #00ffff
      cursor: default
