<div fxFill fxLayout="row" fxLayoutAlign="stretch center">
  <div ngClass.lt-sm="no-display">
    <img alt="App Logo" src="/assets/images/headphones.png">
  </div>
  <div class="title" fxFlex="1 0 0" routerLink="/">iTunes Top 100 Albums</div>
  <div class="link-container" fxFlex="2 0 0" fxLayout="row" fxLayoutAlign="end center" ngClass.lt-sm="no-display">
    <a [routerLinkActiveOptions]="{exact: true}" routerLink="/" routerLinkActive="nav-active">About</a>
    <a routerLink="/table" routerLinkActive="nav-active">Table Layout</a>
    <a routerLink="/grid" routerLinkActive="nav-active">Grid Layout</a>
    <a routerLink="/contact" routerLinkActive="nav-active">Contact</a>
  </div>
  <div class="no-display" fxFlex="0 0 0" fxLayout="row" fxLayoutAlign="center center" ngClass.lt-sm="sidebar-button-container">
    <button (click)="toggleDrawer.emit()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>
