<div [ngStyle.lt-sm]="{margin:0}" class="about-page" fxFlex="2 0 0" fxLayout="row">
  <div fxFlex="0 0 0" fxFlex.gt-sm="1 0 0"></div>
  <div fxFlex="4 0 0" fxFlex.md="8 0 0">
    <h1>About this Application</h1>
    <p>This application was built by <a href="https://arjune.me" target="_blank">Arjune Mirchandani</a> as an implementation to the Angular challenge posted <a href="https://github.com/treadmaxx/front-end-challenge" target="_blank">here</a>.</p>
    <hr>
    <p>This application has been build with Angular 12, and utilizes the free iTunes RSS feed to demonstrate data api retrieval and handling. This application has two main views:</p>
    <ul>
      <li>Table View</li>
      <li>Grid View</li>
    </ul>
    <p>The location of the rss feed that was used in this demonstration is the following:</p>
    <ul>
      <li><a href=" https://itunes.apple.com/us/rss/topalbums/limit=100/json" target="_blank"> iTunes top 100 Albums RSS</a></li>
    </ul>
    <p>This application has the following features:</p>
    <ul>
      <li>Utilizes the Angular Framework</li>
      <li>A clean, modern look</li>
      <li>Source code is <a href="https://github.com/arjunemirchandani/angular-itunes-api-demo" target="blank">publicly available on GitHub</a> under the MIT licensing modal</li>
      <li>Clean, maintainable codebase</li>
      <li>Cross browser and cross platform support</li>
      <li>Responsive Design</li>
      <ul>
        <li>Utilizes the Angular <a href="https://github.com/angular/flex-layout" target="_blank">Flex Layout</a> module</li>
      </ul>
      <li>Implements a good user experience</li>
    </ul>
    <p>Additionally, this application demonstrates the following <a href="https://material.angular.io/" target="_blank">Material</a> component usage:</p>
    <ul>
      <li>Mat Drawer</li>
      <li>Mat Table, Paginator, and Sort</li>
      <li>Mat Dialog</li>
      <li>Mat Snackbar</li>
      <li>Material Form Input components</li>
      <li>... and more!</li>
    </ul>
    <p>Furthermore, it features the following:</p>
    <ul>
      <li>Useful & meaningful comments where needed</li>
      <li>Unit tests with at least 85% coverage</li>
      <li>CSS animations</li>
      <li><a href="https://sass-lang.com/" target="_blank">SASS</a> mixins integration</li>
      <li>Album details functionality</li>
      <li>Album favorites manager</li>
      <li>Organized GIT commit history with meaningful comments</li>
      <li>Implements <a href="https://ngrx.io/" target="_blank"> NGRX state management</a></li>
    </ul>
    <p>Hosting Information:</p>
    <ul>
      <li>Hosted publicly on my <a href="https://aws.amazon.com/ec2/?ec2-whats-new.sort-by=item.additionalFields.postDateTime&ec2-whats-new.sort-order=desc" target="_blank">AWS EC2</a> C5.large server instance running CentOS 7 w/ <a href="https://www.plesk.com/" target="_blank">Plesk</a></li>
    </ul>
  </div>
  <div fxFlex="0 0 0" fxFlex.gt-sm="1 0 0"></div>
</div>
