// Import mixin functions
@import '~src/sass/mixins'

div.main
  box-sizing: border-box
  padding: 20px

  h1
    font-family: "Open Sans", sans-serif
    font-weight: 300
    color: #555
    margin-top: 20px

  p
    font-family: "Roboto", sans-serif
    color: #333

  hr
    margin: 20px 0

  div
    div.album-container
      margin: -5px

      p
        color: #fff

      div.album-box
        box-sizing: border-box
        padding: 5px
        cursor: pointer
        flex-wrap: wrap

        .album-flip-card
          @include aspect-ratio(1, 1)
          background-color: transparent
          width: 100%
          height: auto
          box-sizing: border-box
          perspective: 1000px

        .album-flip-card-inner
          position: relative
          width: 100%
          height: 100%
          text-align: center
          transition: transform 0.8s
          transform-style: preserve-3d

        .album-flip-card:hover .album-flip-card-inner
          transform: rotateY(180deg)

        .album-flip-card-front, .album-flip-card-back
          position: absolute
          width: 100%
          height: 100%
          -webkit-backface-visibility: hidden
          backface-visibility: hidden

        .album-flip-card-front
          background-color: #bbb
          color: black

          img
            width: 100%
            height: auto
            display: block

        .album-flip-card-back
          @include album-flip-card-back(#fff, #204060)
