<div [ngStyle.lt-sm]="{margin:0}" class="main" fxFlex="2 0 0" fxLayout="row">
  <div fxFlex="0 0 0" fxFlex.gt-sm="1 0 0"></div>
  <div fxFlex="4 0 0" fxFlex.md="8 0 0" fxLayout="column wrap">
    <h1>Grid Layout</h1>
    <p>This page demonstrates the album array displayed as a Flex Layout Grid. Grid features include css animation.</p>
    <hr>
    <div class="album-container" fxFlex="4 0 0" fxFlex.md="8 0 0" fxLayout="row wrap wrap" fxLayoutAlign="center center wrap">
      <div *ngFor="let album of albums" class="album-box" fxFlex="0 0 20%" fxFlex.lt-md="0 0 25%" fxFlex.lt-sm="0 0 33%">
        <img (click)="openAlbumDetailsDialog(album)" [src]="album.albumArt">
      </div>
    </div>
  </div>
  <div fxFlex="0 0 0" fxFlex.gt-sm="1 0 0"></div>
</div>
