div.main
  margin: 5px

  div.album-container
    padding: 5px 0

    div.album-box
      box-sizing: border-box
      padding: 5px
      cursor: pointer

      img
        display: block
        width: 100%
        height: auto
